.btn {
  padding: 12px 24px;
  border: none;
  border-radius: 14px;
  background-color: var(--btn-color);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 12px rgb(red, green, blue);
  transition: cubic-bezier(0.23, 1, 0.32, 1);
}
